/*通用样式*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
}

/*导航条*/
/*头部*/
.head11a{
	/*border: 1px solid red;*/
	width: 100%;
	height: 70px;
	margin: 0 auto;
	position:relative;
	box-shadow: 5px 3px 15px -5px;
}
.head11a span{
	font-size: 16px;
}
.head11a>ul{
	margin-left:4%;
}
.head11a>ul>li{
	line-height: 50px;
	text-align: center;
	margin-top: 10px;
}
.head11a>ul>li:hover span{
	color: red;
}
.head11a-1>span{
	text-align: center;
	font-size: 17px;
}
.head11a>ul:nth-child(1){
	float: left;
}
.head11a>ul:nth-child(1) li{
	/*border: 1px solid black;*/
	float: left;
	width: 100px;
	height: 50px;
}

.head11a>ul:nth-child(2){
	float: right;
}
.head11a>ul:nth-child(2) li{
	/*border: 1px solid black;*/
	width: 90px;
	height: 50px;
	float: left;
	position: relative;
}
.head11a>ul:nth-child(2) li>img{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 13px;
	left: -7px;
}
.head11a>ul:nth-child(1) li>img{
	width: 13px;
	height: 13px;
}
/*搜索框*/
.searchbox{
	/*border: 1px solid black;*/
	height: 50px;
	width: 292px;
	position: absolute;
	left: 53%;
	transform: translateX(-40%);
	bottom: 8px;
}
.searchbox>input{
	border: 1px solid #ff1268;
}
.searchbox>input:nth-child(1){
	width: 200px;
	height: 47px;
	/*让输入框和搜索框 对齐*/
	vertical-align: middle;
	background-color: #f8f8f8;
	border-left: none;
	border-right: none;
	outline:none;

}
.searchbox>input:nth-child(2){
	border-radius: 0px 50px 50px 0px;
	background-color: #ff1268;
	color: white;
	height: 49px;
	width: 50px;
	margin-left: -5px;
	vertical-align: middle;
	outline:none;
	cursor:pointer;


}
.searchbox>div{
	border: 1px solid #ff1268;
	height: 47px;
	width: 40px;
	float: left;
	border-radius: 50px 0px 0px 50px;
	background-color: #f8f8f8;
	border-right: none;
}
.searchbox>div>img{
	width: 20px;
	height: 20px;
	margin-left: 12px;
	margin-top: 12px;
}

.head11a-1:hover .head11a-1-1{
display: block;
}
.head11a-1-1{
	/*border: 1px solid black;*/
	width: 350px;
	height: 200px;
	position: absolute;
	left: 3%;
	background-color: white;
	display: none;
	z-index: 200;
}
.head11a-1-1>p{
	float: left;
	margin-left:10px;
}
.head11a-1-1>p>a{
	margin-left: 20px;
	text-decoration: none;
	color: black;
}
.head11a-1-1>p>a:hover{
	color: red;
}
.head11a-1-1-1{
	width:130px;
	height: 150px;
	position: absolute;
	left: -15%;
	text-align: center;
	display: none;
	top: 50px;
	z-index: 300;
}
.head11a-1-1-1>div{
	border: 1px solid #ccc;
	background-color: white;
	/*background-color: red; */	
	box-shadow: 5px 3px 15px -5px;
}
.head11a-1-1-1>div:hover{
	background-color: #fff4f8;
	color: #ff1296;
	
}
.ffff4:hover .head11a-1-1-1{
	display:block;
}
.qwe456{
	/*border: 1px solid black;*/
	width: 80px;
	height: 80px;
	display: none;
	position: absolute;
	top: 50px;
	z-index: 1000;
	
}
.qwe456>img{
	width: 80px;
	height: 80px;
}
.weee:hover .qwe456{
	display: block;
}


/*最大盒子*/
#big_box{
	width: 1200px;
	/*border: 1px solid red;*/
	margin:0 auto;
}
/*第一个展示框*/
#content_one{
	width: 1200px;
	height: 550px;
	border: 1px solid #eee;
	margin-top:50px;
	border-bottom: none;
	position: relative;
}
#content_one_1{
	width: 330px;
	height: 500px;
	float: left;
	position: relative;
	/*border: 1px solid blue;*/
}
#content_one_1>img{
	width: 90%;
	height: 90%;
	margin: 10% 5%;
}
#content_one_1>span{
	width: 50px;
	height: 20px;
	position: absolute;
	top:33px;
	left:16px;
	background-color: #ff1268;
	z-index: 100;
	border-radius: 0 0 10px;
}
#content_one_1>span>p{
	color: white;
	line-height: 20px;
	text-align: center;
	font-size: 10px;
}

#content_one_2{
	width: 860px;
	height: 500px;
	/*border: 1px solid blue;*/
	float: right;
	position: relative;
}
#title{
	font-size:22px;
	font-weight: 400;
}
#title>p{
	font-size: 16px
	height:35px;
	line-height: 35px;
}
#content_one_2>img{
	position: absolute;
	top:125px;
	left:310px;
	cursor: pointer;
}
#time{
	width: 200px;
	height: 45px;
	border:2px solid #ff1268;
	position: absolute;
	top:205px;
	left:100px;
	cursor: pointer;
}
#time>b{
	font-weight: 400;
	font-size: 14px;
	line-height: 45px;
	color: #ff1268;
}
#time>img{
	position: absolute;
	top:8px;
	left:165px;
}
#time2{
	width: 150px;
	height: 90px;
	border:2px solid #ff1268;
	position: absolute;
	top:305px;
	left:100px;
	cursor: pointer;
}
#time2>img{
	position: absolute;
	right: 0;
	bottom: 0;
}
#time2>b{
	font-weight: 400;
	font-size: 14px;
	line-height: 45px;
	position: absolute;
	top:17px;
	left:13px;
	color: #ff1268;
}
#btn{
	width: 250px;
	height: 45px;
	background: #ff1268;
	position: absolute;
	top:460px;
	left:100px;
	cursor: progress;
	border-radius: 5px;
}
#btn>p{
	line-height: 45px;
	text-align: center;
	color: white;
}
#scan{
	width: 100px;
	height: 80px;
	background: #eee;
	position: absolute;
	top:445px;
	right: 50px;
	z-index: 150;
	border-radius:3px;
	box-shadow: 3px 3px 10px -5px;
	cursor: pointer;
	opacity: 0.85;
	border: 1px solid #eee;
}
#scan>p{
	text-align: center;
	line-height: 35px;
	font-size: 14px;
}
#QR{
	width: 112px;
	height: 120px;
	/*border: 1px solid red;*/
	position: absolute;
	top:415px;
	right: 45px;
}

/*中间按钮*/
#butplay{
	width: 1200px;
	height: 70px;
	position:relative;
	/*border: 1px solid #eee;*/
}
#butplay_1{
	width: 180px;
	height: 70px;
	border-top: 5px solid #ff1268;
	border-left:1px solid #eee;
	float: left;
	cursor: pointer;
	box-sizing: border-box;
}
#butplay_2{
	width: 180px;
	height: 70px;
	border: 1px solid #eee;
	position: absolute;
	left:180px;
	cursor: pointer;
	border-right: none;
	box-sizing: border-box;
}
#butplay_3{
	width: 180px;
	height: 70px;
	border-top: 5px solid #ff1268;
	border-right:1px solid #eee;
	position: absolute;
	left:180px;
	cursor: pointer;
	display: none;
	box-sizing: border-box;
}
#butplay_5{
	width: 842px;
	height: 70px;
	border: 1px solid #eee;
	position: absolute;
	left:360px;
	border-left: none;
	box-sizing: border-box;
}
#butplay_4{
	width: 180px;
	height: 70px;
	border: 1px solid #eee;
	position: absolute;
	display: none;
	cursor: pointer
	box-sizing: border-box;
}
#butplay_1>p,#butplay_2>p,#butplay_3>p,#butplay_4>p{
	line-height: 70px;
	color: black;
	text-align: center;
}

/*<!-- 第二个展示区 -->*/
#content_two{
	width: 1200px;
	border: 1px solid #eee;
	border-top:none;
}
.two_title{
	margin-left:60px;
	font-size: 20px;
}
#content_two>hr{
	margin:15px auto;
	width: 90%;
	opacity: .5;
}
.two_title_1{
	margin-left:60px;
	margin-top:40px;
	font-size: 12px;
	color: #666;
}
.two_title_2{
	margin-left:60px;
	margin-top:10px;
	font-size: 15px;
	color: #111;
}
.two_title_3{
	line-height: 40px;
	margin-left:60px;
	margin-top:10px;
	font-size: 16px;
	color: #111;
}
/*展示框2的图片，一共四张*/
#img_1{
	width: 340px;
	height: 458px;
	margin: 35px auto;
}
#img_2{
	width: 340px;
	height: 290px;
	margin: 35px auto;
}
#img_3{
	width: 340px;
	height: 390px;
	margin: 35px auto;
}
#img_4{
	width: 340px;
	height: 385px;
	margin: 35px auto;
}

/*点击切换页面*/
#content_three{
	width: 1200px;
	border: 1px solid #eee;
	display: none;
	border-top:none;
}
#content_three>hr{
	width: 90%;
	margin: 15px auto;
}
.two_title_4{
	margin-left:60px;
	margin-top:60px;
	font-size: 16px;
	color: #111;
}
.two_title_5{
	margin-left:150px;
	margin-top:40px;
	font-size: 16px;
	color: #111;
}
.two_title_6{
	margin-left:150px;
	margin-top:10px;
	font-size: 16px;
	color: #111;
}

/*<!--悬浮按钮-->*/
a{
    text-decoration: none;
}
.sidebar {
    background: #fff;
    border: 1px solid #EBEBEB;
    width: 80px;
    position: fixed;
    right: 10px;
    top: 72.5%;
    margin-top: -105px;
    z-index: 9999;
}
.item {
    height: 60px;
    border-bottom: 1px solid #EBEBEB;
    text-align: center;
    padding-top: 10px;
    color: #111;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    box-sizing: content-box;
}
.item a{
    display: block;
    text-decoration: none;
    color: #111;
}
.sidebar .item .qrcode {
    display: none;
    position: absolute;
    width: 72px;
    height: 72px;
    left: -92px;
    top: -6px;
    box-shadow: 2px 2px 4px #ccc;
    background: #fff;
    padding: 5px;
}
.sidebar .item .qrcode:after {
    position: absolute;
    display: inline-block;
    top: 50%;
    margin-top: -2.5px;
    right: -5px;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 5px;
    border-color: #fff #fff transparent transparent;
    transform: rotate(45deg);
    box-shadow: 1px -1px 1px #ccc;
}
.sidebar .item .icon {
    background: url(../img/iconbg.png) no-repeat;
    margin: 0 auto;
    width: 32px;
    height: 29px;
    background-size: 100%;
}
.sidebar .item a:hover .qrcode {
    display: block;
}
.sidebar .item .gotop {
    background-position: 4px -65px;
}
.sidebar .item .damai {
    background-position: 0 4px;
}
.sidebar .item p:hover {
    color: #FF1268;
}
.sidebar .item .gotop {
    display: block;
    background-position: 4px -65px;
}
.sidebar .item .service {
    background-position: 3px -30px;
}
.wrap{
    width:1200px;
}

/*<!--版权栏-->*/
/*整个底部的盒子*/
		#bottom{
			width: 100%;
			height: 337px;
			background-color: rgba(0,0,0,0.3);
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
		/*整个底部的盒子中的宽度1200的盒子*/
		#bottom1{
			width: 1200px;
			height: 337px;
			margin: 0px auto;
			/*border: 1px #eee solid;*/
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
		
		#one{
			position: absolute;
			top:40px;
			left:10%;
			/*border: 1px red solid;*/
			/*transform: translateX(-50%);*/

		}
/*
		#one{
			position: absolute;
			top:40px;
			left:15%;
		}*/
			/*border: 1px red solid;
			/*transform: translateX(-50%);*/
			
		/*}*/
	/*	#buttom>#buttom1{

		}*/
		#one>li{
			color:black;
			float: left;
			margin-left: 0px;
			width: 100px;
			border: 0.2px black solid;
			height: 16px;
			border-bottom: none; 
			border-top: none; 
			text-align: center;
			line-height: 16px;
			border-width: thin; 

		}
		#one>li>a{
			color: black;
			font-size: 15px;
    		color: #111;
			text-decoration: none;
		}
		#one>li>a:hover{
			color: #ff1268;
			text-decoration: underline;
		}


			/*第二个ul*/
				#two{
			position: absolute;
			top:130px;
			left:35%;
			/*border: 1px red solid;*/
			/*transform: translateX(-50%);*/

		}




		
		#two>li{
			color:black;
			float: left;
			margin-left: 0px;
			width: 300px;
			border: 0.2px black solid;
			height: 16px;
			border-bottom: none; 
			border-top: none; 
			text-align: center;
			line-height: 16px;
			border-width: thin; 

		}
		#two>li>a{
			color: black;
			font-size: 13px;
    		color: #111;
			text-decoration: none;
		}
		#two>li>a:hover{
			color: #ff1268;
			
		}



				/*第三个ul*/
			#three{
			position: absolute;
			top:152px;
			left:428px;
			/*border: 1px red solid;*/
			/*transform: translateX(-50%);*/

		}




		
		#three>li{
			color:black;
			float: left;
			margin-left: 0px;
			width: 300px;
			border: 0.2px black solid;
			height: 16px;
			border-bottom: none; 
			border-top: none; 
			text-align: center;
			line-height: 16px;
			border-width: thin; 

		}
		#three>li>a{
			color: black;
			font-size: 13px;
    		color: #111;
			text-decoration: none;
		}
		#three>li>a:hover{
			color: #ff1268;
			
		}


		#img1{
			width:167px; 
			height:60px;
			position: absolute;
			top:30%;
			left: 0px;
			cursor: pointer;
		}
		#img2{
			width:87px; 
			height:87px;
			position: absolute;
			top:28%;
			left: 225px;
		}
		#service{
			position: absolute;
			top:28%;
			left: 438px;
			width: 98px;
			height: 27px;
			text-decoration: none;
			display: inline-block;
			line-height: 27px;
		    text-align: center;
		    background-color: #ff1268;
		    color: #fff;
		    font-size: 14px;
		    border-radius: 20px
		}
		#p1{
			position: absolute;
		    top: 51%;
		    left: 438px;
		    font-size: 13px;
}


		#p2{
			position: absolute;
			top:57%;
			left: 438px;
			font-size: 13px;

		}

		/*底部的四张图片css代码*/
		#img3{
			position: absolute;
			top: 234px;
			left: 438px;
			width: 120px;
			height: 30px;
			cursor: pointer;
		}
		#img4{
			position: absolute;
			top: 234px;
			left: 549px;
			width: 120px;
			height: 30px;
			cursor: pointer;
		}
		#img5{
			position: absolute;
			top: 234px;
			left: 669px;
			width: 49px;
			height: 30px;
			cursor: pointer;
		}
		#img6{
			position: absolute;
			top: 234px;
			left: 718px;
			width: 85px;
			height: 30px;
			cursor: pointer;
		}

		#img7{
			position: absolute;
			top: 234px;
			left: 802px;
			width: 85px;
			height: 30px;
			cursor: pointer;
		}